terratowns_endpoint = "https://terratowns.cloud/api"

# mock server endpoint
# terratowns_endpoint = "http://localhost:4567/api"

# TF_VAR_ variables from environment
#teacherseat_user_uuid = "23bc8d00-9485-48de-8c59-faddeEXAMPLE"
#terratowns_access_token = "e11b2b1c-80db-4b79-bc3b-31e85EXAMPLE"

frontier = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/frontier"
    content_version = 1
}
okcomputer = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/okcomputer"
    content_version = 1
}