terratowns_endpoint = "https://terratowns.cloud/api"
#teacherseat_user_uuid = "23bc8d00-9485-48de-8c59-faddeEXAMPLE"
#terratowns_access_token = "e11b2b1c-80db-4b79-bc3b-31e85EXAMPLE"
index_html_path = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_path = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"